table {
  width: 100% !important;
}
mat-paginator {
  width: 100% !important
}
th {
  text-wrap: nowrap !important;
}
td{
  text-wrap: nowrap !important;
font-weight: normal !important;
  font-size: medium !important;
}